* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #F1E8AA;
}

.main-div {
    width: 900px;
    margin: auto;
}

.error {
    color: red;
    font-weight: bold;
    margin: 0;
}

.login-bt {
    background-color: #13CE66;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px 0px 10px 0px;
    width: 100%;
    font-weight: bold;
}

.main-bt {
    background-color: hsla(12, 54%, 39%, 0.87);
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px 0px 10px 0px;
    width: 100%;
    font-weight: bold;
}

.element {
    background-color: #FFD185;
    border-radius: 10px;
}

.element-s-l {
    width: 650px;
}

.element-s-m {
    width: 275px;
}

.element-s-s {
    width: 175px;
}

.img-s-m {
    width: 200px;
    height: 200px;
}

.img-s-s {
    width: 50px;
    height: 50px;
}

.nav-link {
    text-decoration: none;
    color: #47525E;
    padding: 10px;
    font-weight: bold;
    font-size: larger;
}

.nav-link-selected {
    color: white;
    background-color: hsla(12, 54%, 39%, 0.87);
    border-radius: 15px;
}

input, select {
    padding: 7px;
    border-radius: 5px;
    border: solid #8492A6 1px;
    width: 100%;
}

nav {
    background-color: #FFD185;
    padding: 10px;
}

h1 {
    font-size: large;
}



/* table */

table {
    border-collapse: collapse;
}

th {
    text-align: left;
    width: 1%;
}

tr th:last-child {
    border-right: none;
}

tr td:last-child {
    border-right: none;
}

table tr:last-child td {
    border-bottom: none;
}

th, td {
    border-bottom: solid #343F4B 1px;
    border-right: solid #343F4B 2px;
    padding: 5px;
    font-size: smaller;
}



/* other */

.mt-25 {
    margin-top: 25px;
}

.mt-45 {
    margin-top: 45px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-10 {
    margin-bottom: 10px;
}

.p-30 {
    padding: 30px;
}

.p-15 {
    padding: 15px;
}

.p-10 {
    padding: 10px;
}

.h-vh-80 {
    height: 80vh;
}



/* flex box */

.flex-box {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items-flex-start {
    align-items: flex-start;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-75 {
    gap: 75px;
}